*{
    margin: 0;
    padding:0;
    color: aliceblue;
    background-color:rgb(94, 112, 112);
   
}
header{
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    background-color: black;
    color: aliceblue;
}
.container{
   
    height: 100%;
    
}
